<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>One Time Charge</h2>
      <form action="/stripe/oneTime" method="POST">
        <script
          src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= stripePubKey %>"
          data-amount="1
          data-name="Demo Site"
          data-description="2 widgets ($1.00)"
          data-currency="usd"
          data-image="/128x128.png">
        </script>
      </form>
    </div>
  </div>
</div>
